@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// Color Variables
$Tomato: #ff6257;
$Dark-Slate-Grey: #242742;
$Charcoal-Grey: #36384e;
$Grey: #9294a0;
$White: #ffffff;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  figure {
    width: 100%;

    .desktop-illus {
      display: none;
    }

    .mobile-illus {
      width: 100%;
    }
  }
  section {
    color: $Dark-Slate-Grey;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    h2 {
      color: $Charcoal-Grey;
      font-size: 3rem;
    }

    .list {
      .items {
        display: flex;
        gap: 1rem;
        padding: 0.5rem 0;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      label {
        color: $Charcoal-Grey;
        font-weight: bold;
        font-size: small;
      }

      input {
        padding: 0.9rem;
        border-radius: 0.5rem;
        border: 0.5px $Grey solid;
      }

      button {
        background-color: $Dark-Slate-Grey;
        color: $White;
        padding: 1rem;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover{
          background: linear-gradient(45deg, #ff564a , #ff9557);
        }
      }
    }
  }
}

.popup {
  display: none;

  .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    gap: 2rem;
    padding: 1rem;

    h2 {
      color: $Charcoal-Grey;
      font-size: 3rem;
    }

    p {
      color: $Dark-Slate-Grey;
    }

    .dismiss {
      margin-top: 10rem;
      background-color: $Dark-Slate-Grey;
      color: $White;
      padding: 1rem;
      border: none;
      border-radius: 0.5rem;
      font-weight: bold;
      width: 100%;
      cursor: pointer;

      &:hover{
          background: linear-gradient(45deg, #ff564a , #ff9557);
        }
    }
  }
}

@media (min-width: 900px) {
  main {
    background-color: $Dark-Slate-Grey;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container {
    background-color: $White;
    flex-direction: row-reverse;
    border-radius: 2rem;
    padding: 1rem;
    gap: 2rem;

    figure {
      width: auto;

      .mobile-illus {
        display: none;
      }
      .desktop-illus {
        display: block;
        // width: 50%;
      }
    }
  }
  .popup {
    align-self: center;
    width: 40%;

    .message {
      padding: 3rem 2rem;
      border-radius: 2rem;
      background-color: $White;
      height: auto;
      p {
        padding: 1rem;
        // font-size: 1.5rem;
      }

      .dismiss {
        margin-top: 0;
      }
    }
  }
}
